<h2>Pending Approval</h2>

<div class="accordion">
<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let merchant of unapprovedMerchants">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{merchant.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{merchant.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <div class="flex-container-col">
        <div class="flex-container">
          <div class="left">Contact Number</div>
          <div>{{merchant.contactNum}}</div>
          </div>
          <div class="flex-container">
            <div class="left">Email</div>
            <div>{{merchant.email}}</div>
          </div>
          
          <div class="flex-container">
          <div class="left">Description</div>
          <div>{{merchant.description}}</div>
        </div>
      </div>

      <div class="b">
        <b>Documents</b>
      </div>

      <ng-container *ngFor="let document of merchant.documents">
        <mat-card>
          <mat-card-subtitle>{{document.name}}</mat-card-subtitle>
            <mat-card-content>{{document.description}}</mat-card-content>
            <mat-card-actions align="end">
              <button mat-flat-button class="download"><a href='{{document.file}}' download>Download</a></button>
            </mat-card-actions>
            <mat-divider></mat-divider>
            </mat-card>
      </ng-container>

      <mat-action-row>
        <button mat-button mat-flat-button color="basic" (click)="onApproveMerchant(merchant.id, merchant.name, merchant.contactNum, merchant.email, merchant.description, merchant.documents)">Approve</button>
        <button mat-button mat-flat-button color="warn" (click)="onDeleteMerchant(merchant.id)">Reject</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>

  
  
  