<!--(submit)="onAddMerchant(merchantReg)"-->
<form #merchantReg="ngForm" (submit)="onMerchantSignup(merchantReg)">
    <mat-form-field>
      <mat-label>Merchant Name: </mat-label>
      <input matInput required ngModel type="text" name="name" #name="ngModel">
    </mat-form-field>
  
  <div>
        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <span matPrefix>+60 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" required ngModel name="contactNum" #contactNum="ngModel">
        </mat-form-field>
  
      <div class="">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" ngModel name="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
    </div>
  
    <div>
      <mat-form-field class="">
        <mat-label>Merchant Description</mat-label>
        <textarea matInput type="text" ngModel name="description" #description="ngModel"></textarea>
      </mat-form-field>
    </div>
    <button mat-button (click)="openDialog2()" mat-dialog-close id="addDocBtn">Add Documents</button>
<br>
<br>
    <mat-divider></mat-divider>
<div id="btnCollection">
  <button mat-dialog-close=""
  mat-flat-button 
  color="accent"
  type="submit">Submit</button>


<button mat-dialog-close mat-flat-button id="close">Close</button>
</div>


    </form>