.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    width:100%;
  }
  
.radio-button {
    margin: 5px;
  }

h1{
    text-align:center;
    margin: 2rem 0;
}
mat-expansion-panel{
    width:500px;
}

img{
    width:20px;
    margin: 0 1rem 0 0;
}
.input-field{
    width: 100%;
}
.title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 0 1rem 0;
}
.center-align{
    display: flex;
    justify-content: center;
}
.outer-card{
    margin:3rem;
    padding:2rem;
    width:700px;
}

h6{
    margin-bottom:1rem;
}
.price{
    color:rgb(255, 116, 2);
    font-weight: bold;
    font-size: 18px;
}
h2{
    color: #E91E63;
}
.logo-name{
    display: flex;
    align-items: center;
}
